<div class="container mt-5">
  <h2 class="text-2xl font-bold text-center mb-4">University List</h2>

  <!-- Search Bar -->
  <div class="row mb-4">
    <div class="col-md-6">
      <a
        [routerLink]="['/universities/search']"
        class="btn btn-warning btn-sm mr-2"
        >search</a
      >
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/universities/add" class="btn btn-primary"
        >Add University</a
      >
    </div>
  </div>

  <!-- Table -->
  <div class="overflow-x-auto">
    <table class="table table-striped table-hover border">
      <thead class="bg-blue-500 text-white">
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Address</th>
          <th class="px-4 py-2">Type</th>
          <th class="px-4 py-2">Rating</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let university of universities" class="hover:bg-gray-200">
          <td class="px-4 py-2">{{ university.name }}</td>
          <td class="px-4 py-2">{{ university.address }}</td>
          <td class="px-4 py-2">{{ university.universityType }}</td>
          <td class="px-4 py-2">{{ university.rating }}</td>
          <td class="px-4 py-2">
            <a
            [routerLink]="['/universities/all', university.id]"
            class="btn btn-primary btn-sm mr-2"
          >
            <Details></Details>
          </a>
            <a
              [routerLink]="['/universities/update', university.id]"
              class="btn btn-warning btn-sm mr-2"
            >
              Edit
            </a>
            <button
              (click)="deleteUniversity(university.id)"
              class="btn btn-danger btn-sm"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
